
html{
    font-size:10px;
}
.dxt-page-nav{background-color: #ddd;padding:1rem 2rem;}
.dxt-page-nav .header{font-size: 2rem;cursor: pointer;}
.dxt-page-nav ul{padding: 1rem 0 0 2rem;}
.dxt-page-nav ul li{padding: 0.4rem 0;}

/*找潮货start*/
.goods-header img{
	padding-left: 0;
    padding-right: 0;
}
.cut-off-bar{
	background-color: #efefef;
	padding: 0.4rem 0;
}
.goods-item-container{
	padding: 1.4rem 1.2rem;
	border-bottom: 0.1rem solid #ddd;
}
.goods-pic{
	border-radius: 0.5rem;
}
.goods-pic-container{
	border:0.1rem solid #dddddd;
	width: 25%;
	padding: 0.2rem 0.7rem;
}
.goods-pic,.goods-note-tip-pic-container,
.goods-pics-container{
	padding: 0 0;
}
.goods-introduction-container span{
	padding:0 0;
	letter-spacing: 0.1rem;
}
.goods-introduction-container{
	padding:0 0 0 1.2rem;
}
.goods-name{
	font-size: 1.5rem;
	color: #333333;
}
.goods-str{
	margin-top:0.1rem;
	color: #777;
}
.goods-opt{
	margin-top: 1.1rem;
	padding: 0;
}
.goods-note-num{
	color: #b5b5b5;
	font-size: 1.2rem;
}
.goods-str{
	font-size: 1.3rem;
}
.goods-opt .select-buy{
	border: 0.1rem solid #ff5959;
    color: #ff5959;
    margin-top: -1.1rem;
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    background-color: #fff;
    -moz-border-radius: 0.4rem;
    -webkit-border-radius:0.4rem;
    border-radius: 0.4rem;
    display: inline-block;
    text-align: center;
}
.goods-note-tip-pic{
	background-color: #ffc029;
    border-radius: 50%;
    color: #fff;
    padding: 0;
    font-size: 1.4rem;
}
.goods-note-tip-text{
	 font-size: 1.1rem;
    margin: -0.2rem 0 0 0.5rem;
}
.find-goods-container .swiper-pagination-bullet{
	height: 0.3rem;
    width: 1.2rem;
	border-radius: 0;
}

.find-goods-container .swiper-pagination-bullet-active{
	background-color: #fff;
}

.goods-item-container:active,.look-something-item:active,
.look-something-promote-container:active,
.store-goods-item:active,.thumb-up-item:active,
.goods-note-item:active{
	background-color: #fafafa;
}

.goods-note-tip-pic-container{
	margin-top: -0.5rem;
	width: 11%
}

.goods-detail-container img{
	width: 100%;
	height: auto;
}
.goods-detail-container .swiper-pagination-bullet{
	height: 0.4rem;
    width: 0.4rem;
	border-radius: 50%;
}

.goods-detail-container .swiper-pagination-bullet-active{
	background-color: #333;
}

.goods-detail-container .goods-sell{
	background-color: #808080;
    border-radius: 1rem;
    bottom: 2.1rem;
    color: #fff;
    font-size: 1rem;
    left: 1.9rem;
    padding: 0.3rem 0;
    position: absolute;
    width: 13%;
    z-index: 1;
}
.goods-detail-container .goods-video{
	background-color: #808080;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    color: #fff;
    font-size: 1.4rem;
    padding: 0.3rem 0.5rem 0.3rem 0;
    position: absolute;
    right: 0;
    top: 1.7rem;
    z-index: 1;
}
.goods-base-info-container{
	padding: 1rem 1.5rem 1.2rem;
}

.goods-base-info-container .goods-title,
.goods-base-info-container .goods-attr,
.goods-promise-item,.goods-promise-item .iconfont,
.goods-promise-item span{
	padding: 0;
}
.goods-base-info-container .goods-title{
	font-size: 2rem;
	color: #333;
	font-weight: bold;
}
.goods-base-info-container .goods-attr{
	color: #777;
    font-size: 1.8rem;
    margin-top: 0.8rem;
}
.goods-promise-container{
	padding:1rem 2rem;
}
.goods-promise-container .recommend-tip-text{
	color: #777;
}
.goods-promise-item .iconfont{
	border:0.1rem solid #ff5959;
    border-radius: 50%;
    color: #ff5959;
    display: inline-block;
    height: 4rem;
    width: 4rem;
}
.goods-promise-item .icon-zheng{
    padding: 0.85rem;
	font-size: 1.6rem;
}
.goods-promise-item .icon-7tian{
	font-size: 2.3rem;
    padding: 0.45rem;
}
.goods-promise-item .icon-wuliu{
	font-size: 1.7rem;
    padding: 0.8rem;
}
.goods-promise-item .icon-baozhang{
	font-size: 2.1rem;
    padding: 0.6rem;
}
.goods-promise-item{
	margin-top: 1.5rem;
}
.goods-promise-item .promise-title{
	margin-top: 0.8rem;
	font-size: 1.4rem;
	color: #999;
}
.goods-store-container{
	padding: 1.2rem 1.2rem;
}
.goods-store-container .store-icon,
.goods-store-container .store-main-info,
.goods-store-container .goods-goto-store,
.goods-comment-tip-container,.comment-tip-text,.view-all,
.comment-tip-icon,.tip-text,.goods-comment-item,.comment-pic,
.comment-info,.comment-user-info ,.comment-user-face,
.comment-user-name,.comment-user-cont,.goods-notes-contents,
.goods-note-item,.note-pic,.comment-user-info,
.goods-note-like,.goods-notes-container,.goods-self-detail,.goods-tab-bar,
.goods-videos-container .goods-video-item,
.goods-videos-container .goods-video,.goods-video-info .video-title,
.goods-video-info .video-create-time{
	padding: 0;
}
.goods-store-container .store-main-info .store-detail-name{
	color: #333;
	font-size: 1.6rem;
}
.goods-store-container .store-small-name{
	color: #999;
    font-size: 1.4rem;
    margin-top: 0.4rem;
}
.goods-store-container .store-icon{
	border: 0.1rem solid #e0e0e0;
    border-radius: 50%;
    width: 16%;
}
.goods-store-container .goods-goto-store{
	border: 0.1rem solid #ff5959;
    border-radius: 0.2rem;
    color: #ff5959;
    font-size: 1.3rem;
    margin-top: 1.2rem;
    padding: 0.3rem 0;
    width: 20%;
}
.goods-comment-container{
	padding: 1.5rem 0 1.5rem 1.2rem;
}
.comment-tip-text .icon-pinglun{
	font-size: 1.1rem;
	color: #fff;
	background-color: #22b8a8;
	padding: 0.2rem 0.3rem;
	border-radius: 50%;
}
.comment-tip-text .tip-text {
	font-size: 1.5rem;
    margin-left: 0.5rem;
	color: #333; 
}
.view-all{
	color: #999;
	font-size: 1.4rem;
	padding-right: 1.2rem;
}
.goods-comment-content-container{
	padding: 1.1rem 1.1rem 0 0;
}
.goods-comment-item{
	background-color: #f7f7f7;
    padding: 1.1rem;
}
.goods-comment-item .comment-pic{
	border:0.1rem solid #ddd; 
	width: 36%;	
}
.comment-user-face img{
	border-radius: 50%;
}
.comment-info{
	padding-left: 1.1rem;
	width: 64%;
}
.comment-user-name{
	color: #777;
    font-size: 1.2rem;
    margin-top: 0.3rem;
    padding-left: 0.6rem;
}
.comment-user-cont{
	color: #999;
    font-size: 1.3rem;
    letter-spacing: 0.02rem;
}
.goods-comment-item .icon-zuixin{
	color: #ff5959;
}
.goods-notes-container{
	padding:0 1.2rem;
}
.goods-notes-container .view-all{
	padding-right: 0;
}
.goods-notes-container .icon-chaojibiji222{
    background-color: #ffc029;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.04rem 0.1rem;
}
.goods-note-item{
	border:0.1rem solid #e5e5e5;
    width: 48%;
    margin-bottom:1.2rem;
}
.goods-note-title,.goods-note-cont,
.goods-note-publish{
	padding:0 1rem;
}
.goods-note-title{
	margin-top: 0.7rem;
	color: #333;
	font-size: 1.5rem;
}
.goods-note-cont{
	color: #777;
	font-size: 1.5rem;	
	margin-top: 0.7rem;
}
.goods-note-like .icon-dianzan1{
	color: #ccc;
}
.goods-note-like .like-num{
	color: #9b9b9b;
}
.goods-note-publish{
	padding:1rem;
}
.comment-tip-text-container{
	padding:1rem 1.2rem;
}
.goods-tab-bar{
	color: #777;
	border-bottom:0.1rem solid #ddd;
	font-size: 1.6rem;
}
.pic-word-attr,.goods-params{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.pic-word-attr-content,.goods-params-content{
	padding:1.2rem 1.5rem;
	margin-bottom: 4.5rem;
}
.param-item,.param-item-name,.param-item-value{
	padding:0;
}
.param-item{
	padding:0.5rem 0;
}
.param-item-name,.param-item-value{
	font-size: 1.5rem;
}
.param-item-name{
	color: #777;
}
.param-item-value {
	color: #333;
}
.goods-tab-bar .active{
	color: #ff5959;
	border-bottom: 0.1rem solid #ff5959; 
}
.goods-detail-container .navbar-default{
	border-color: #ddd;
	background-color: #fff;
}
.goods-detail-container .join-cart,
.goods-detail-container .buy-goods{
	min-height: 5rem;
	padding: 1.4rem;
	font-size:1.5rem;
}
.goods-detail-container .icon-gouwuche{
	font-size: 2.8rem;
	border-right: 0.1rem solid #ddd;
}
.goods-detail-container .buy-goods{
	border-left: 0.1rem solid #ff5959;
	border-top: 0.1rem solid #ff5959;
	background-color:#ff5959 ;
	color: #fff;
}
.back-to-top{
	position: absolute;
	bottom: 12rem;
	right: 1rem;
	border:0.2rem solid #f3f3f3;
	border-radius: 50%;
	position:fixed;
	width: 5.2rem;
	height: 5.2rem;
	padding: 0;
	display: none;
}
.back-to-top span{
	font-size: 1.4rem;
	padding: 0;	
	color: #777;
}
.back-to-top .icon-dingbu{
	font-size: 2.3rem;
}
.back-to-top .back-top-text{
	margin-top: -0.9rem;
}
.goods-videos-container video{
	width: 100%;
}
.goods-videos-container .goods-video-info{
	padding: 0.8rem 1rem;
}
.goods-video-info .video-title{
	font-size: 1.6rem;
	color: #333;
	overflow: hidden;
	white-space: nowrap; 
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
}
.goods-video-info .video-create-time{
	font-size: 1.4rem;
	color: #b6b6b6;
}

/*找潮货end*/


/*寻好店start*/
.find-store-container img,.look-something-container img{
	width: 100%;
	height: 100%;
}
.find-store-tip-bar{
	padding: 1.2rem 0.9rem 0;
	font-size: 1.3rem;
	/*letter-spacing: 1px;*/
}
.select-tip{
	color: #333;
}
.view-all{
	color: #999;
	font-size: 1.2rem;
	margin-top: 0.2rem;
}
.find-store-container .icon-dianpu{
	background-color: #4395f7;
    border-radius: 50%;
    color: #fff;
    font-size: 1.3rem;
}
.find-store-container .icon-jiantou-copy{
	font-size: 1.2rem;
}

.store-pic-container{
	padding: 0 0.9rem;
}
.find-store-item,.find-store-content,.store-intro-container,
.recommended-consultant-item .single-consultant
{
	padding: 0 0;
}

.find-store-item{
	padding-top: 1.2rem;
}
.single-consultant img{
	border-radius: 50%;
	height: auto;
}
.store-intro-container{
	padding: 1rem 0 1.3rem;
}
.store-name{
	font-size: 1.5rem;
	color:#333;
	font-weight: bold;
}
.store-intro{
	margin-top:0.5rem;
	letter-spacing: 0.1rem;
	color: #777;
	font-size: 1.3rem;
}
.recommend-tip-text{
	font-size: 1.4rem;
	color: #333;
}
.recommend-tip-text:before{
	content:''; 
	border: 0.08rem solid #dfdfdf;
    content: "";
    display: inline-block;
    margin: 0 2.8rem 0.4rem 0;
    width: 10%;
}

.recommend-tip-text:after{
	content:'';
	border: 0.08rem solid #dfdfdf;
    content: "";
    display: inline-block;
    margin: 0 0 0.4rem 2.8rem;
    width: 10%;
}
.single-consultant{
	width: 15%;
}
.recommended-consultant-item{
	margin-top: 1.8rem;
}

.recommended-consultant-item .item-offset{
	margin-left: 13.33%;
}
.goto-store-opt{
	margin-top: 1.8rem;
	margin-bottom: 1.4rem;
}

.go-to-store{
	background-color: #4395f7;
    border-color: #4395f7;
    border-radius: 2rem;
    color: #fff;
    font-size: 1.4rem;
    padding-bottom: 0.9rem;
    padding-top: 0.9rem;
}

.go-to-store:active{
	background-color:rgba(67,149,247,.5); 
}

.break-line-bar{
	padding: 0.4rem 0;
	background-color: #efefef;
}

.store-from{
	color: #fff;
    font-size: 1.3rem;
    left: 1.5rem;
    position: absolute;
    top: 0.9rem;
}
.store-collect{
	background-color: #203854;
    border-radius: 1.6rem;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.2rem 0.6rem;
    position: absolute;
    right: 1.7rem;
    top: 1.3rem;
}
.store-collect .icon-favorite,.store-collect .icon-g{
	font-size: 1.42rem;
}
.store-pic-tip-text{
	margin-left: 0.3rem;
}
.consultant-name{
	font-size: 1.3rem;
	margin-top: 0.6rem;
	display: block;
}
/*寻好店end*/


/*寻好店-店铺详情start*/
.find-store-detail-container img{
	width: 100%;
}
.store-detail-pic,.store-detail-info-container,
.store-icon,.store-main-info{
	padding:0 0;
}
.store-detail-info-container{
    bottom: 1.2rem;
    left: 0;
    position: absolute;
    z-index: 1;
    padding: 0 1rem;
}
.store-icon{
	width: 12.5%;
}
.store-icon img{
	border-radius: 50%;
}
.store-main-info{
	padding-left: 0.9rem;
}
.store-from-me{
	color: #fff;
    font-size: 1.2rem;
    left: 0;
    position: absolute;
    top: 1.8rem;
    padding-left: 0.9rem;
}
.store-detail-name{
	font-size: 1.4rem;
	color: #fff;
	overflow: hidden;
	white-space: nowrap; 
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
}
.find-store-detail-container .swiper-pagination{
	color: #fff;
	padding-right: 1.5rem;
	bottom: 1rem;
    right: 0;
    left: auto;
    width: auto;
    background-color: rgba(25,25,25,0.8);
    border-radius: 1rem;
    margin: 0 1.2rem 0.4rem 0;
    padding:0.1rem 1rem;
}
.store-detail-tab-bar{
	padding:0.8rem 0;
}
.find-store-detail-container .consultant-tab,
.find-store-detail-container .goods-tab,
.store-detail-info,.store-detail-intro,
.store-address-text,.icon-dianhua,
.store-address-text,.address-text,
.inner-pics-tip,.store-inner-pics,
.all-recommended-consultant-container,
.consultant-list-item,.consultant-name,
.fensi-num,.consultant-follow,.goods-title,
.goods-intro-text,.goods-price-container,
.goods-price-new,.goods-price-old{
	padding: 0;
}
.find-store-detail-container .nav > li{
	background-color: rgb(216,216,216);
	border-radius: 1.3rem;
}
.find-store-detail-container .nav > li > span{
	display: inline-block;
	font-size: 1.2rem;
	color: #fff;
	padding: 0.3rem 0;
}

.find-store-detail-container .nav > li.active{
	background-color: rgb(67,149,247);
}
.store-detail-intro{
	border-bottom: 0.1rem solid rgb(221,221,221);
	/*padding:0.5rem 0;*/
}
.store-intro-tip{
	border-bottom: 0.1rem solid rgb(221,221,221);
    padding: 0.8rem 0;
    margin-left: 1.2rem;
    color: #333;
    font-size: 1.3rem;
    width: 96.7%;
}
.store-intro-cont{
	color: #777;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    padding: 1.1rem;
}
.store-detail-address{
	padding: 1rem 1.1rem;

}
.address-text{
	color: #777;
    font-size: 1.1rem;
    line-height: 1.6rem;
    height: 1.6rem;
    padding-left: 0.5rem;
}
.store-detail-address .icon-didian{
	font-size: 2rem;
	color: #777;
}
.store-address-text{
	width: 87%;
}
.store-address-text{
	border-right: 0.1rem solid #dfdfdf;
	padding-right: 1rem;
}
.store-detail-address .icon-dianhua{
	color: #70cf95;	
	font-size: 2rem;
	margin-right: 0.8rem;
}
.store-inner-pics-container{
	padding:1rem 1.2rem;
}

.store-inner-pics{
	margin-top: 1rem;
}

.store-inner-pics .swiper-slide{
	border:0.1rem solid #ddd;
	padding:0;
	height: 7rem;
}

.store-inner-pics img{
	height: 100%;
	width: 100%;
}
.all-recommended-consultant-container{
	padding: 1rem;
}
.consultant-list-item{
	margin: 1.9rem 4.1% 0;

}
.consultant-name{
	color: #333;
}
.fensi-num{
	color: #999;
	font-size: 1rem;
	margin-top: 0.3rem;
	letter-spacing: 0.05rem;
}

.consultant-follow{
	border: 0.1rem solid #70cf95;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    margin-top: 0.7rem;
    color: #70cf95;
}
.consultant-already-follow{
	border: 0.1rem solid #ccc;
	color: #ccc;
	border-radius: 0.4rem;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    margin-top: 0.7rem;
}
.store-goods-list{
	background-color: #efefef;
	padding: 1rem 1%;
}
.store-goods-item{
	background-color: #fff;
	padding:0.9rem 0.8rem 0.4rem;
	border:0.1rem solid #ddd;
	border-radius: 0.5rem;
	margin: 0 1% 0.8rem;
	width: 48%;
}
.goods-cover img{
	border-radius: 0.4rem;
}
.goods-title {
	margin-top: 1rem;
	color: #333;
	font-size: 1.4rem;
}
.goods-intro-text{
	margin-top: 0.3rem;
	font-size: 1.3rem;
	color: #777;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.goods-price-new{
	color: #ff5959;
	font-size: 1.8rem;
}
.goods-price-old{
	color: #999;
	font-size: 1.3rem;
	margin-top: 0.5rem;
	text-decoration:line-through
}
.goods-price-container{
	margin-top: 0.3rem;
}
.yen{
	margin-right: 0.2rem;
}
/*寻好店-店铺详情end*/


/*看看start*/
.look-something-promote-container,
.promote-pic,.look-something-content,
.something-item-detail,.subject-name,.subject-attr,
.subject-tip,.subject-store-container,.subject-time{
	padding:0 0;
}
.promote-item-detail{
	padding:1rem 0;
}
.promote-item-name{
	color: #333;
	font-size: 1.7rem;
}
.promote-item-intro{
	margin-top: 0.4rem;
	color: #777;
	font-size: 1.3rem;
	letter-spacing: 0.05rem;
}
.look-something-item{
	padding:1rem 0;
	border-bottom: 0.1rem solid #ddd;
}
.something-item-pic{
	padding:0 0.9rem;
	width: 28%;
}
.something-item-pic img{
	border:0.1rem solid #ddd;
}
.something-item-detail{
	width: 72%;
}

.subject-attr,.subject-tip,.subject-name{
	padding-right: 1.4rem;

}
.subject-name{
	color: #333;
	font-size: 1.5rem;
	overflow: hidden;
	white-space: nowrap; 
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
}
.subject-attr{
	color: #777;
	font-size: 1.2rem;
	margin-top: 0.5rem;
	letter-spacing: 0.06rem;
}
.something-item-detail .icon-location{
	background-color: #ffc029;
	border-radius: 50%;
	color: #fff;
	font-size: 1.2rem;
	padding: 0 0.1rem;
}
.subject-store-name,.subject-time{
	font-size: 1.1rem;
	color: #999;
}
.subject-tip{
	margin-top: 0.6rem;
}
.subject-time{
	margin-top: 0.4rem;
}
.subject-jiaobiao{
    font-size: 4rem;
    position: absolute;
    right: 0;
    top: -0.7rem;
}
.look-something-item .zuixin{
	color: #ff5959;
}
.look-something-item .tuijian{
	color: #2cc7b6;
}
.subject-jiaobiao-text{
	color: #fff;
    font-size: 1.1rem;
    position: absolute;
    right: 0.4rem;
    top: 1.4rem;
    transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); 	
}
.subject-shipin-type{
	background-color: #70cf95;
    color: #fff;
    font-size: 1rem;
    left: 0.9rem;
    padding: 0.2rem 0.5rem;
    position: absolute;
    top: 0;
    border-radius: 0.3rem;
}
.subject-shipin-bofang{
    left: 33%;
    padding: 0.2rem 0.5rem;
    position: absolute;
    top: 24%;
}
.subject-shipin-bofang .icon-rectangle1{
	color: #fff;
    font-size: 3rem;
}
/*看看end*/

/*营业员-我的点赞列表start*/
.thumb-up-title,.thumb-up-tip,.thumb-up-item-content{
	padding: 0;
}
.seller-thumb-up-container{
	margin-top: 0.8rem;
}
.thumb-up-item{
	background-color: #fff;
	padding: 1.7rem 1.5rem;
	border-bottom: 0.1rem solid #ddd;
}
.thumb-up-title{
	color: #333;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.thumb-up-tip .icon-dianzan1{
	color: #ccc;
    font-size: 1.8rem;
}
.thumb-up-tip .thumb-up-num{
	color: #9b9b9b;
    font-size: 1.5rem;
}
.search-input-container,.history-result-bar,
.history-result-bar-tip,.del-opt,
.history-search-content,.history-item,.search-result-item,
.goods-name{
    padding: 0;
    
}
.seller-search-select-container .input-group{
	padding: 1.5rem 1rem;
	background-color: #e6e6e6;
}

.seller-search-select-container .form-control::-moz-placeholder{
    color: #b6b6b6;
    letter-spacing: 0.06rem;
    opacity: 1;
    font-size: 1.4rem;
}

.seller-search-select-container .form-control::-webkit-input-placeholder{
	color: #b6b6b6;
    letter-spacing: 0.06rem;
    opacity: 1;
    font-size: 1.4rem;
}
.search-input-container	.icon-search{
	color: #8f8f94;
    font-size: 1.6rem;
    left: 1.8rem;
    position: absolute;
    top: 2rem;
    z-index: 100;
}
.search-input-container .form-control{
	padding-left: 2.7rem;
	border: 0.1rem solid #ddd!important;
    border-radius: 0.6rem!important;
    height: 3.4rem;
}
.search-input-container .input-group-addon{
	background-color: #e6e6e6;
	border:none;
	color: #777;
	padding:0.6rem;
	font-size: 1.5rem;
}
.search-input-container .form-control:focus{
	box-shadow: none;
}
.history-search-container{
    padding: 1.5rem 1.8rem;
    margin-top: 1rem;
}
.history-result-bar-tip{
	color: #999;
	font-size: 1.3rem;
}
.history-search-content .history-item{
	border: 0.1rem solid #ddd;
    border-radius: 0.3rem;
    color: #333;
    font-size: 1.3rem;
    margin: 1rem 2rem 0.5rem 0;
    padding: 0.4rem 0.8rem;
    width: auto;
}
.search-result-list-container{
	padding:0 0 0 1.5rem;
	margin-top: 1rem;
}
.search-result-item{
	padding:1.2rem 1.5rem 1.2rem 0.2rem;
	border-bottom: 0.1rem solid #e5e5e5;
}
.search-result-list-container .selected{
	border-bottom-color: #4395f7;
}
.history-search-content .selected{
	background-color: #ddd;
}
.search-result-list-container .icon-gou{
	font-size: 1.5rem; 
	color: #4395f7;
	padding: 0;
	font-weight: bold;
}
.history-result-bar{
	padding: 0.6rem 0;
}
.history-result-bar .del-opt{
	margin-top: -0.5rem; 
}

/*营业员-我的点赞列表end*/

/*页面刷新加载样式*/
.dxt-list-loading{
    color: #cbcbcb;
    font-size: 1.3rem;
    line-height: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
}
.dxt-list-loading img{
    height: 1.6rem;
    margin-right: 0.5rem;
    width: 1.6rem;
}
.ajax-loading{
    width: 2rem;
    height: 2rem;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.ajax-loading{
    background-image: url("/image/ajax_loading.png");
    position: absolute;
    top: 15rem;
    left: 16.5rem;
    animation: loading-animate 2s linear 0 infinite;
    -moz-animation: loading-animate 2s linear 0 infinite;
    -webkit-animation: loading-animate 2s linear 0 infinite;
    -o-animation: loading-animate 2s linear 0 infinite;
    animation-fill-mode: both;
    -webkit-animation-fill-mode:both;
}

@keyframes loading-animate{
    100% {transform:rotate(360deg);}
}

@-webkit-keyframes loading-animate{
    100% {-webkit-transform:rotate(360deg);}
}

@-moz-keyframes loading-animate{
    100% {-moz-transform:rotate(360deg);}
}

@-o-keyframes loading-animate{
    100% {-o-transform:rotate(360deg);}
}


@keyframes shake{
    25% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes shake{
    25% {
        -webkit-transform: rotate(10deg);
    }
    75% {
        -webkit-transform: rotate(-10deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes shake{
    25% {
        -webkit-transform: rotate(10deg);
    }
    75% {
        -webkit-transform: rotate(-10deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-o-keyframes shake{
    25% {
        -webkit-transform: rotate(10deg);
    }
    75% {
        -webkit-transform: rotate(-10deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes left-shadow-scale{
    25% {transform: scale(1.5);}
    75% {transform: scale(0.5);}
    100% {transform: rotate(0deg);}
}

@-webkit-keyframes left-shadow-scale{
    25% {-webkit-transform: scale(1.5);}
    75% {-webkit-transform: scale(0.5);}
    100% {-webkit-transform: rotate(0deg);}
}

@-moz-keyframes left-shadow-scale{
    25% {-webkit-transform: scale(1.5);}
    75% {-webkit-transform: scale(0.5);}
    100% {-webkit-transform: scale(0deg);}
}

@-o-keyframes left-shadow-scale{
    25% {-webkit-transform: scale(1.5deg);}
    75% { -webkit-transform: scale(0.5deg);}
    100% {-webkit-transform: scale(0deg);}
}

@keyframes right-shadow-scale{
    25% {transform: scale(0.5);}
    75% {transform: scale(1.5);}
    100% {transform: rotate(0deg);}
}

@-webkit-keyframes right-shadow-scale{
    25% {-webkit-transform: scale(0.5);}
    75% {-webkit-transform: scale(1.5);}
    100% {-webkit-transform: rotate(0deg);}
}

@-moz-keyframes right-shadow-scale{
    25% {-webkit-transform: scale(0.5);}
    75% {-webkit-transform: scale(1.5);}
    100% {-webkit-transform: scale(0deg);}
}

@-o-keyframes right-shadow-scale{
    25% {-webkit-transform: scale(0.5deg);}
    75% { -webkit-transform: scale(1.5deg);}
    100% {-webkit-transform: scale(0deg);}
}



/*弹出消息样式*/
#toast-container{
	margin-top: 70%;
}

#toast-container > div{
	width: 15rem!important;
	padding:2rem 1rem;
	text-align: center;
}
#toast-container .toast{
	background-image: none!important;
	background-color: rgba(0, 0, 0, 0.9);
}


@media only screen and (max-width: 319px){
    html {
        font-size: 8px !important;
    }
}
@media only screen and (min-width: 320px) and (max-width: 359px){
    html {
        font-size: 9px !important;
    }
}
@media only screen and (min-width: 360px) and (max-width: 479px){
    html {
        font-size: 10px !important;
    }
}
@media only screen and (min-width: 480px) and (max-width: 559px){
    html {
        font-size: 13.5px !important;
    }
}
@media only screen and (min-width: 560px) and (max-width: 639px){
    html {
        font-size: 15.5px !important;
    }
}
@media only screen and (min-width: 640px){
    html {
        font-size: 19px !important; 
    }
}



